/BFS.class
/Dijkstra.class
/DijkstraSol.class
/DirectedCycle.class
/DistNode.class
/Edge.class
/Graph.class
/KruskalMST.class
/SCC.class
/Solution.class
/Topological.class
/TwoColor.class
/UF.class
/Vertex.class
